<ul class="navbar-nav">
    <li class="nav-item mb-2 mt-0">
      <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-white" aria-controls="ProfileNav" role="button" aria-expanded="false">
        <img src="{{ url_for('static', filename='assets/img/team-3.jpg') }}"  class="avatar">
        <span class="nav-link-text ms-2 ps-1">
          {{ current_user.username }}
        </span>
      </a>
      <div class="collapse" id="ProfileNav" style="">
        <ul class="nav ">
          <li class="nav-item">
            <a class="nav-link text-white"  href="{{ url_for('home_blueprint.profile_overview') }}">
              <span class="sidenav-mini-icon"> MP </span>
              <span class="sidenav-normal  ms-3  ps-1"> My Profile </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="{{ url_for('home_blueprint.account_settings') }}">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-3  ps-1"> Settings </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="{{ url_for('authentication_blueprint.change_password') }}">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-3  ps-1"> Change Password </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="{{ url_for('authentication_blueprint.logout') }}">
              <span class="sidenav-mini-icon"> L </span>
              <span class="sidenav-normal  ms-3  ps-1"> Logout </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <hr class="horizontal light mt-0">
    <li class="nav-item">
      <a data-bs-toggle="collapse" href="#dashboardsExamples" 

         class="nav-link {% if active_menu == 'dashboard' %} active {% endif %}" 
         aria-expanded="{% if active_menu == 'dashboard' %} true {% else %} false {% endif %}"
         
         aria-controls="dashboardsExamples" role="button">
        <i class="material-icons-round opacity-10">dashboard</i>
        <span class="nav-link-text ms-2 ps-1">Dashboards</span>
      </a>
      <div class="collapse {% if active_menu == 'dashboard' %} show {% endif %}" id="dashboardsExamples">
        <ul class="nav ">
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'index' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.index') }}">
              <span class="sidenav-mini-icon"> A </span>
              <span class="sidenav-normal  ms-2  ps-1"> Analytics </span>
            </a>
          </li>
          <li class="nav-item {% if 'dashboards_discover' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'dashboards_discover' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.dashboards_discover') }}">
              <span class="sidenav-mini-icon"> D </span>
              <span class="sidenav-normal  ms-2  ps-1"> Discover </span>
            </a>
          </li>
          <li class="nav-item {% if 'dashboards_sales' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'dashboards_sales' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.dashboards_sales') }}">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-2  ps-1"> Sales </span>
            </a>
          </li>
          <li class="nav-item {% if 'dashboards_automotive' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'dashboards_automotive' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.dashboards_automotive') }}">
              <span class="sidenav-mini-icon"> A </span>
              <span class="sidenav-normal  ms-2  ps-1"> Automotive </span>
            </a>
          </li>
          <li class="nav-item {% if 'dashboards_smart' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'dashboards_smart' in segment %} active {% endif %}"  href="{{ url_for('home_blueprint.dashboards_smart') }}">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-2  ps-1"> Smart Home </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item mt-3">
      <h6 class="ps-4  ms-2 me-4 text-uppercase text-xs font-weight-bolder text-white">PAGES</h6>
    </li>
    <li class="nav-item">
      <a data-bs-toggle="collapse" href="#pagesExamples" 
      
        class="nav-link {% if active_menu == 'pages' %} active {% endif %}" 
        aria-expanded="{% if active_menu == 'pages' %} true {% else %} false {% endif %}"

       aria-controls="pagesExamples" role="button">
        <i class="material-icons-round  me-2 ">image</i>
        <span class="nav-link-text ms-2 ps-1">Pages</span>
      </a>
      <div class="collapse {% if active_menu == 'pages' %} show {% endif %}" id="pagesExamples">
        <ul class="nav ">
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#profileExample">
              <span class="sidenav-mini-icon"> P </span>
              <span class="sidenav-normal  ms-2  ps-1"> Profile <b class="caret"></b></span>
            </a>
            <div class="collapse {% if 'profile' in segment %} show {% endif %}" id="profileExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item {% if 'profile_overview' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'profile_overview' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.profile_overview') }}">
                    <span class="sidenav-mini-icon"> P </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Profile Overview </span>
                  </a>
                </li>
                <li class="nav-item {% if 'profile_projects' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'profile_projects' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.profile_projects') }}">
                    <span class="sidenav-mini-icon"> A </span>
                    <span class="sidenav-normal  ms-2  ps-1"> All Projects </span>
                  </a>
                </li>
                <li class="nav-item {% if 'profile_messages' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'profile_messages' in segment %} active {% endif %}"  href="{{ url_for('home_blueprint.profile_messages') }}">
                    <span class="sidenav-mini-icon"> M </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Messages </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#usersExample">
              <span class="sidenav-mini-icon"> U </span>
              <span class="sidenav-normal  ms-2  ps-1"> Users <b class="caret"></b></span>
            </a>
            <div class="collapse {% if 'user' in segment %} show {% endif %}" id="usersExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item {% if 'users_reports' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'users_reports' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.users_reports') }}">
                    <span class="sidenav-mini-icon"> R </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Reports </span>
                  </a>
                </li>
                <li class="nav-item {% if 'new_user' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'new_user' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.new_user') }}">
                    <span class="sidenav-mini-icon"> N </span>
                    <span class="sidenav-normal  ms-2  ps-1"> New User </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#accountExample">
              <span class="sidenav-mini-icon"> A </span>
              <span class="sidenav-normal  ms-2  ps-1"> Account <b class="caret"></b></span>
            </a>
            <div class="collapse {% if 'account' in segment %} show {% endif %}" id="accountExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item {% if 'account_settings' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'account_settings' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.account_settings') }}">
                    <span class="sidenav-mini-icon"> S </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Settings </span>
                  </a>
                </li>
                <li class="nav-item {% if 'account_billing' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'account_billing' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.account_billing') }}">
                    <span class="sidenav-mini-icon"> B </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Billing </span>
                  </a>
                </li>
                <li class="nav-item {% if 'account_invoice' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'account_invoice' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.account_invoice') }}">
                    <span class="sidenav-mini-icon"> I </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Invoice </span>
                  </a>
                </li>
                <li class="nav-item {% if 'account_security' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'account_security' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.account_security') }}">
                    <span class="sidenav-mini-icon"> S </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Security </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#projectsExample">
              <span class="sidenav-mini-icon"> P </span>
              <span class="sidenav-normal  ms-2  ps-1"> Projects <b class="caret"></b></span>
            </a>
            <div class="collapse {% if 'projects' in segment %} show {% endif %}" id="projectsExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item {% if 'projects_general' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'projects_general' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.projects_general') }}">
                    <span class="sidenav-mini-icon"> G </span>
                    <span class="sidenav-normal  ms-2  ps-1"> General </span>
                  </a>
                </li>
                <li class="nav-item {% if 'projects_timeline' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'projects_timeline' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.projects_timeline') }}">
                    <span class="sidenav-mini-icon"> T </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Timeline </span>
                  </a>
                </li>
                <li class="nav-item {% if 'projects_new_project' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'projects_new_project' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.projects_new_project') }}">
                    <span class="sidenav-mini-icon"> N </span>
                    <span class="sidenav-normal  ms-2  ps-1"> New Project </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#vrExamples">
              <span class="sidenav-mini-icon"> V </span>
              <span class="sidenav-normal  ms-2  ps-1"> Virtual Reality <b class="caret"></b></span>
            </a>
            <div class="collapse {% if 'vr' in segment %} show {% endif %}" id="vrExamples">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item {% if 'vr_default' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'vr_default' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.vr_default') }}">
                    <span class="sidenav-mini-icon"> V </span>
                    <span class="sidenav-normal  ms-2  ps-1"> VR Default </span>
                  </a>
                </li>
                <li class="nav-item {% if 'vr_info' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'vr_info' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.vr_info') }}">
                    <span class="sidenav-mini-icon"> V </span>
                    <span class="sidenav-normal  ms-2  ps-1"> VR Info </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if 'pricing_page' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'pricing_page' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.pricing_page') }}">
              <span class="sidenav-mini-icon"> P </span>
              <span class="sidenav-normal  ms-2  ps-1"> Pricing Page </span>
            </a>
          </li>
          <li class="nav-item {% if 'rtl_page' in segment %} active {% endif %}">
            <a class="nav-link text-white " href="{{ url_for('home_blueprint.rtl_page') }}">
              <span class="sidenav-mini-icon"> R </span>
              <span class="sidenav-normal  ms-2  ps-1"> RTL </span>
            </a>
          </li>
          <li class="nav-item {% if 'widgets' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'widgets' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.widgets') }}">
              <span class="sidenav-mini-icon"> W </span>
              <span class="sidenav-normal  ms-2  ps-1"> Widgets </span>
            </a>
          </li>
          <li class="nav-item {% if 'charts' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'charts' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.charts') }}">
              <span class="sidenav-mini-icon"> C </span>
              <span class="sidenav-normal  ms-2  ps-1"> Charts </span>
            </a>
          </li>
          <li class="nav-item {% if 'sweet_alerts' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'sweet_alerts' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.sweet_alerts') }}">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-2  ps-1"> Sweet Alerts </span>
            </a>
          </li>
          <li class="nav-item {% if 'notifications' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'notifications' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.notifications') }}">
              <span class="sidenav-mini-icon"> N </span>
              <span class="sidenav-normal  ms-2  ps-1"> Notifications </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a data-bs-toggle="collapse" href="#applicationsExamples" 

         class="nav-link {% if active_menu in 'applications' %} active {% endif %}" 
         aria-expanded="{% if active_menu in 'applications' %} true {% else %} false {% endif %}"  

         aria-controls="applicationsExamples" role="button">
        <i class="material-icons-round  me-2 ">apps</i>
        <span class="nav-link-text ms-2 ps-1">Applications</span>
      </a>
      <div class="collapse {% if 'applications' in parent %} show {% endif %}" id="applicationsExamples">
        <ul class="nav ">
          <li class="nav-item text-white{% if 'applications_crm' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'applications_crm' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.applications_crm') }}">
              <span class="sidenav-mini-icon"> C </span>
              <span class="sidenav-normal  ms-2  ps-1"> CRM </span>
            </a>
          </li>
          <li class="nav-item text-white{% if 'applications_kanban' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'applications_kanban' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.applications_kanban') }}">
              <span class="sidenav-mini-icon"> K </span>
              <span class="sidenav-normal  ms-2  ps-1"> Kanban </span>
            </a>
          </li>
          <li class="nav-item text-white{% if 'applications_wizard' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'applications_wizard' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.applications_wizard') }}">
              <span class="sidenav-mini-icon"> W </span>
              <span class="sidenav-normal  ms-2  ps-1"> Wizard </span>
            </a>
          </li>
          <li class="nav-item text-white{% if 'applications_datatables' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'applications_datatables' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.applications_datatables') }}">
              <span class="sidenav-mini-icon"> D </span>
              <span class="sidenav-normal  ms-2  ps-1"> DataTables </span>
            </a>
          </li>
          <li class="nav-item text-white{% if 'applications_calendar' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'applications_calendar' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.applications_calendar') }}">
              <span class="sidenav-mini-icon"> C </span>
              <span class="sidenav-normal  ms-2  ps-1"> Calendar </span>
            </a>
          </li>
          <li class="nav-item text-white{% if 'applications_stats' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'applications_stats' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.applications_stats') }}">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-2  ps-1"> Stats </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a data-bs-toggle="collapse" href="#ecommerceExamples" 

         class="nav-link {% if active_menu in 'ecommerce' %} active {% endif %}" 
         aria-expanded="{% if active_menu in 'ecommerce' %} true {% else %} false {% endif %}"  

         aria-controls="ecommerceExamples" role="button">
        <i class="material-icons-round  me-2 ">shopping_basket</i>
        <span class="nav-link-text ms-2 ps-1">Ecommerce</span>
      </a>
      <div class="collapse {% if active_menu in 'ecommerce' %} show {% endif %}" id="ecommerceExamples">
        <ul class="nav ">
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#productsExample">
              <span class="sidenav-mini-icon"> P </span>
              <span class="sidenav-normal  ms-2  ps-1"> Products <b class="caret"></b></span>
            </a>
            <div class="collapse {% if 'ecommerce-product' in parent %} show {% endif %}" id="productsExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item text-white{% if 'ecommerce_product_new' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'ecommerce_product_new' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.ecommerce_product_new') }}">
                    <span class="sidenav-mini-icon"> N </span>
                    <span class="sidenav-normal  ms-2  ps-1"> New Product </span>
                  </a>
                </li>
                <li class="nav-item text-white{% if 'ecommerce_product_edit' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'ecommerce_product_edit' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.ecommerce_product_edit') }}">
                    <span class="sidenav-mini-icon"> E </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Edit Product </span>
                  </a>
                </li>
                <li class="nav-item {% if 'ecommerce_product_page' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'ecommerce_product_page' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.ecommerce_product_page') }}">
                    <span class="sidenav-mini-icon"> P </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Product Page </span>
                  </a>
                </li>
                <li class="nav-item {% if 'ecommerce_products_list' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'ecommerce_products_list' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.ecommerce_products_list') }}">
                    <span class="sidenav-mini-icon"> P </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Products List </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#ordersExample">
              <span class="sidenav-mini-icon"> O </span>
              <span class="sidenav-normal  ms-2  ps-1"> Orders <b class="caret"></b></span>
            </a>
            <div class="collapse {% if 'ecommerce-orders' in parent %} show {% endif %}" id="ordersExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item {% if 'ecommerce_orders_list' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'ecommerce_orders_list' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.ecommerce_orders_list') }}">
                    <span class="sidenav-mini-icon"> O </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Order List </span>
                  </a>
                </li>
                <li class="nav-item {% if 'ecommerce_orders_details' in segment %} active {% endif %}">
                  <a class="nav-link text-white {% if 'ecommerce_orders_details' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.ecommerce_orders_details') }}">
                    <span class="sidenav-mini-icon"> O </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Order Details </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if 'ecommerce_referral' in segment %} active {% endif %}">
            <a class="nav-link text-white {% if 'ecommerce_referral' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.ecommerce_referral') }}">
              <span class="sidenav-mini-icon"> R </span>
              <span class="sidenav-normal  ms-2  ps-1"> Referral </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a data-bs-toggle="collapse" href="#authExamples" class="nav-link text-white " aria-controls="authExamples" role="button" aria-expanded="false">
        <i class="material-icons-round  me-2 ">content_paste</i>
        <span class="nav-link-text ms-2 ps-1">Authentication</span>
      </a>
      <div class="collapse " id="authExamples">
        <ul class="nav ">
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#signinExample">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-2  ps-1"> Sign In <b class="caret"></b></span>
            </a>
            <div class="collapse " id="signinExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.signin_basic') }}">
                    <span class="sidenav-mini-icon"> B </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Basic </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.signin_cover') }}">
                    <span class="sidenav-mini-icon"> C </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Cover </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.signin_illustration') }}" >
                    <span class="sidenav-mini-icon"> I </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Illustration </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#signupExample">
              <span class="sidenav-mini-icon"> S </span>
              <span class="sidenav-normal  ms-2  ps-1"> Sign Up <b class="caret"></b></span>
            </a>
            <div class="collapse " id="signupExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.signup_basic') }}">
                    <span class="sidenav-mini-icon"> B </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Basic </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.signup_cover') }}">
                    <span class="sidenav-mini-icon"> C </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Cover </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.signup_illustration') }}">
                    <span class="sidenav-mini-icon"> I </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Illustration </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#resetExample">
              <span class="sidenav-mini-icon"> R </span>
              <span class="sidenav-normal  ms-2  ps-1"> Reset Password <b class="caret"></b></span>
            </a>
            <div class="collapse " id="resetExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.reset_basic') }}">
                    <span class="sidenav-mini-icon"> B </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Basic </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.reset_cover') }}">
                    <span class="sidenav-mini-icon"> C </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Cover </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.reset_illustration') }}">
                    <span class="sidenav-mini-icon"> I </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Illustration </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#lockExample">
              <span class="sidenav-mini-icon"> L </span>
              <span class="sidenav-normal  ms-2  ps-1"> Lock <b class="caret"></b></span>
            </a>
            <div class="collapse " id="lockExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.lock_basic') }}">
                    <span class="sidenav-mini-icon"> B </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Basic </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white "href="{{ url_for('home_blueprint.lock_cover') }}">
                    <span class="sidenav-mini-icon"> C </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Cover </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.lock_illustration') }}">
                    <span class="sidenav-mini-icon"> I </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Illustration </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#StepExample">
              <span class="sidenav-mini-icon"> 2 </span>
              <span class="sidenav-normal  ms-2  ps-1"> 2-Step Verification <b class="caret"></b></span>
            </a>
            <div class="collapse " id="StepExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.verification_basic') }}">
                    <span class="sidenav-mini-icon"> B </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Basic </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.verification_cover') }}">
                    <span class="sidenav-mini-icon"> C </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Cover </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.verification_illustration') }}">
                    <span class="sidenav-mini-icon"> I </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Illustration </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#errorExample">
              <span class="sidenav-mini-icon"> E </span>
              <span class="sidenav-normal  ms-2  ps-1"> Error <b class="caret"></b></span>
            </a>
            <div class="collapse " id="errorExample">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.page_404') }}">
                    <span class="sidenav-mini-icon"> E </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Error 404 </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " href="{{ url_for('home_blueprint.page_500') }}">
                    <span class="sidenav-mini-icon"> E </span>
                    <span class="sidenav-normal  ms-2  ps-1"> Error 500 </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <hr class="horizontal light" />
      <h6 class="ps-4  ms-2 me-4 text-uppercase text-xs font-weight-bolder text-white">Support</h6>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://docs.appseed.us/products/flask-dashboards/material-dashboard2-pro" target="_blank">
        <i class="material-icons-round  me-2 ">receipt_long</i>
        <span class="nav-link-text ms-2 ps-1">Documentation</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://appseed.us/product/material-dashboard2-pro/flask/" target="_blank">
        <i class="material-icons-round  me-2 ">info</i>
        <span class="nav-link-text ms-2 ps-1">Download</span>
      </a>
    </li>        
  </ul>